{% extends "base.html" %}

{% block title %}Code {{ stage.number }} | {{ super() }}{% endblock %}

{% block content %}
  {% if stage.image %}
    <section class="steve-pic">
      <img src="{{ url_for('static', filename=stage.image) }}" />
    </section>
  {% endif %}

  {% if stage.message %}
    <section class="stella-message">
      <p>{{ stage.message }}</p>
    </section>
  {% endif %}

  <section class="title">
    <h2>Code</h2>
    <h1 class="code-number">{{ stage.number }}</h1>
  </section>

  {% if taunt %}
    <section class="incorrect">
      <p>{{ taunts | random }}</p>
    </section>
  {% endif %}

  <section class="lock">
    <form method="post">
      <div class="combination">
        {% for i in range(3) %}
          <div class="wheel">
            <div class="increment" index="{{ i }}">
              <svg version="1.1" id="Chevron_small_up" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                <path fill="#fff" d="M6.582,12.141c-0.271,0.268-0.709,0.268-0.978,0c-0.269-0.268-0.272-0.701,0-0.969l3.908-3.83
      c0.27-0.268,0.707-0.268,0.979,0l3.908,3.83c0.27,0.267,0.27,0.701,0,0.969c-0.271,0.268-0.709,0.268-0.979,0L10,9L6.582,12.141z"/>
              </svg>
            </div>

            <input class="digit" index="{{ i }}" name="digit{{ i }}" type="number" value="0" min="0" max="9">

            <div class="decrement" index="{{ i }}">
              <svg version="1.1" id="Chevron_small_down" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      y="0px" viewBox="0 0 20 20" enable-background="new 0 0 20 20" xml:space="preserve">
                <path fill="#fff" d="M13.418,7.859c0.271-0.268,0.709-0.268,0.978,0c0.27,0.268,0.272,0.701,0,0.969l-3.908,3.83
      c-0.27,0.268-0.707,0.268-0.979,0l-3.908-3.83c-0.27-0.267-0.27-0.701,0-0.969c0.271-0.268,0.709-0.268,0.978,0L10,11L13.418,7.859z
      "/>
              </svg>
            </div>
          </div>
        {% endfor %}
      </div>

      <input class="submit" type="submit" value="Submit">
    </form>
  </section>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='combination.js') }}"></script>
{% endblock %}